

.zoo{
    background-image: url("zoo.avif");
    height: 500px;
    width: 100%;
}
.zoo p{
    float:right;
    color: white;
    margin-top: 13px;
    font-size: 22px;
    margin-right: 30px;

}
.zoo h3{
    color:white;
}
.ZOO img{
    height:90px;
    width:500px;
   
    float: center;
padding-top: 120px;
padding-left: 400px;
}
.zoo h2{
    font-size:30px;
    color: whitesmoke;
    float: center;
padding-top: 20px;
padding-left: 400px;
}
.input {
    border: none;
    border-radius: 14px;
    height: 70px;
    width:700px;
    position: absolute;
    top:400px;
    left:300px;
    column-gap: 40px;
column-gap:2px;
}
#inp1{
   /* text-align: center; */
    
    border: none;
    font-size: 15px;
    width: 45%;
    border-radius: 0.2rem;
left: 60px;
height:40px;
top: 10px;
position: absolute;}
#inp11{
    border: none;
    font-size: 15px;
    width: 5%;
    border-radius: 3PX;
left: 29px;
height:40px;
top:14%;
bottom:-50%;
position: absolute;
}
#inp12{
    border: none;
    font-size: 15px;
    width: 5.5%;
    border-radius: -2PX;
left: 374px;
height:39px;
top:15%;
bottom:-50%;
position: absolute;

}

#inp2{
    /* text-align: center; */
   left: 350px;
     border: none;
     font-size: 15px;
     width: 70%;
     border-radius: 0.4rem;
     top: 10px;
 height:40px;
 position: absolute;
padding-left: 100px;
margin-left:57px;}
  
 .white img{
    margin-top: 4%;
    margin-left: 2%;
border:none;
border-radius: 16px;
 }
 .blue h1{
    margin-left: 30px;
    font-size: 40px;
 }
 .blue h2{
    margin-left: 30px;
    
 }
 .blue img{
    margin-top: 4%;
    margin-left: 1%;
border:none;
border-radius: 16px;
 }
 .black{
    text-align: left;
    margin-left:30px;
    font-size: 20px;
 }
 .black table{
    margin-left: 110px;
 }
.ni {
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 119, 119);
    margin-bottom: 0.5rem;
text-align: center;
width:300px;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
padding-left: 4px;
padding-right:4px;
padding-top: 4px;
padding-bottom: 4px;}
.black1  {
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 119, 119);
    margin-bottom: 0.5rem;
text-align: center;
width:300px;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
padding-left: 4px;
padding-right:4px;
padding-top: 4px;
padding-bottom: 4px;}
.ni1  {padding: 2px 2px;
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 119, 119);
    margin-bottom: 0.5rem;
text-align: center;
width:300px;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
padding-left: 4px;
padding-right:4px;
padding-top: 4px;
padding-bottom: 4px;}
.black2  {padding: 2px 2px;
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 119, 119);
    margin-bottom: 0.5rem;
text-align: center;
width:300px;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
padding-left: 4px;
padding-right:4px;
padding-top: 4px;
padding-bottom: 4px;}
.ni2  {
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 119, 119);
    margin-bottom: 0.5rem;
text-align: center;
width:300px;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
padding-left: 7px;
padding-right:7px;
padding-top: 7px;
padding-bottom: 7px;}
.black3  {padding: 2px 2px;
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 119, 119);
    margin-bottom: 0.5rem;
text-align: center;
width:300px;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
padding-left: 4px;
padding-right:4px;
padding-top: 4px;
padding-bottom: 4px;}
.ni3  {padding: 2px 2px;
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 119, 119);
    margin-bottom: 0.5rem;
text-align: center;
width:300px;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
padding-left: 4px;
padding-right:4px;
padding-top: 4px;
padding-bottom: 4px;}
.black4  {
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 119, 119);
    margin-bottom: 0.5rem;
text-align: center;
width:300px;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
padding-left: 4px;
padding-right:4px;
padding-top: 3px;
padding-bottom: 3px;}
.black5 {padding: 2px 2px;
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 119, 119);
    margin-bottom: 0.5rem;
text-align: center;
width:300px;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
padding-left: 4px;
padding-right:4px;
padding-top: 4px;
padding-bottom: 4px;}
.mob img{
    margin-top:150px;
margin-left: 100px;
}
.mob h1{
    float: right;
   margin-right: 200px;
   margin-top: 150px;
}
.mob h3{
    float: right;
   margin-right: 150px;
   margin-top: -320px;
}
.mob form{
    float: right;
   margin-right: 400px;
   margin-top: -250px;
}
.img {
    float: right;
    margin-right: 250px;
    margin-top: -300px;
}


  .blue1{
    background-image: url("zoo4.jpg" );
    height:400px;
    width:300px;
    margin-left: 40px;
  }

  .blue1 p{ color: white;
    padding-top: 300px;
    padding-left: 30px;
    font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blue2{
    background-image: url("zoo5.jpg" );
    height:400px;
    width:250px;
  
    display:flex;
    margin-left: 360px;
    margin-top: -400px;
}
.blue2 p{ color: white;
    padding-top: 300px;
    padding-left: 30px;
    font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blue3{
    background-image: url("zoo6.jpg" );
    height:400px;
    width:300px;

    display:flex;
    margin-left: 630px;
    margin-top: -400px;
}
.blue3 p{ color: white;
    padding-top: 300px;
    padding-left: 30px;
    font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blue4{
    background-image: url("zoo7.jpg" );
    height:400px;
    width:300px;
  
    display:flex;
    margin-left: 950px;
    margin-top: -400px;
}
.blue4 p{ color: white;
    padding-top: 300px;
    padding-left: 30px;
    font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cards{
 margin-top: 30px;
background-color:white;
display: inline block;

margin-left: 100px;
width: 25%;
height: 50%;
box-shadow: 2px 2px 10px black;
}
.cards:hover{
    background-color:gray;
}

.image img{
    height: 250px;
    width: 100%;
}
.title{
    text-align: center;
}
.main{
    display:flex;
    margin-left: 20px;
    margin-right: 20px;
}
 
.cards1{
    margin-top: 30px;
   background-color:white;
   width: 25%;
   height: 50%;
   box-shadow: 2px 2px 10px black;

   margin-left: 30px;

   
   }
   .cards1:hover{
    background-color:gray;
}

   
   .image1 img{
       height: 250px;
       width: 100%;
   }
   .title1{
       text-align: center;
   }
        
   .cards2{
    margin-top: 30px;
   background-color:white;
   width: 25%;
   height: 50%;
   display: inline block;

   box-shadow: 2px 2px 10px black;
   margin-left: 30px;
   
   }
   .cards2:hover{
    background-color:gray;
}

   
   .image2 img{
       height: 250px;
       width: 100%;
   }
   .title2{
       text-align: center;
      
   }
   .img{
    margin-right: 150px;
    margin-top: -18%;
   }
   
      